* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#eee, #0000);
  color: #000;
}

.container {
  margin: 0 15px;
}

.form-box {
  padding: 30px;
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
  box-shadow: 0 0px 40px 10px #333;
  display: none;
  background-color: #fff;
}

.form-box.active {
  display: block;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 34px;
}

input,
select {
  width: 100%;
  font-size: 16px;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 6px;
  outline: none;
  background: #eee;
  color: #333;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  transition: 0.5s;
  background-color: rgb(77, 14, 14);
}

button:hover {
  background-color: rgb(141, 8, 8);
}

p {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

a {
  color: #0f1d6b;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}